h1 {
    font-weight: 100;
    font-size: 60;
    text-align: center;
    margin: 0 0 20px 0;
}

h2 {
    font-weight: 200;
    font-size: 30;
    text-align: center;
    margin: 0 0 20px 0;
}
ul {
    width: 60%;
    margin: 0 20% 30px 20%;
    font-size: 18px;
    overflow: auto;
    padding: 0;
    text-align: center;
    font-weight: 300;
    border: double #876;
    border-radius: 15px;
}

.menubar a {
    width: 33.33%;
    padding:16px 0 16px 0;
    float: left;
    text-decoration: none;
    text-align: center;
}

.menubar li{
    display: block;
    display: inline;

}

li a:hover {
    background-color: #DFC9A7; opacity:100%;
}

a.active {
    background-color: #EFD9B7; opacity:80%;
}

a {
    color: black;
    text-decoration: none;

}



body {
    background-image: url('pics/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: 300;
}

div {
    padding: 10px 23% 42px 23%;
    width: 54%;
}

h1 a:hover{
    text-shadow: 1px 1px #986;
}

footer {
    text-align: center;
    color: #888;
}

table{
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid;
}

td{
    height: 20px;
    width: 20px;
    border: thin solid black;
    padding: 0;
    background-color: #EFEAE2;
}

td:hover{
    background-color: #CFCAC2;
}

.clicked{
    background-color: #000;
}

.column5{
    border-left: 2px solid;
}

.row5{
    border-top: 2px solid;
}

.columndefinition{
    background: transparent;
}

.rowdefinition{
    background: transparent;
}

.topLeftCell{
    background: transparent;
    border: 2px solid;
}

caption {
    font-weight: 200;
    font-size: 30px;
    margin: 20px;
}

form {
  margin: auto;
  text-align: center;
}
form input {
  background: transparent;
  width: 65px;
}
