h1 {
    font-weight: 100;
    font-size: 70px;
    text-align: center;
    margin: 0 0 20px 0;
}

h1 a {
    transition: 0.3s;
}

h1 a:hover {
    text-shadow: 1px 1px #986;
    cursor: pointer;
}

h2 {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px 0;
}

h3 {
    font-weight: 250;
    font-size: 25px;

    margin: 20px 0;
}
.menubar {
    width: 90%;
    min-width: 500px;
    margin: 0 5% 30px 5%;
    font-size: 18px;
    overflow: auto;
    padding: 0;
    text-align: center;
    font-weight: 300;
    border: double #876;
    border-radius: 15px;
}
.menubar_mobile {
    display: none;
}

.menubar a {
    height: 35px;
    vertical-align: middle;
    width: 20%;
    min-width: 100px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: 0.7s;
}

.menubar li {
    margin: 0;
    width: 20%;
    display: inline;
}

li a:hover {
    background-color: #d6bf9c;
    cursor: pointer;
}

a.active,
.sorter.active {
    background: radial-gradient(circle at top, #d8bc92, transparent);
}

.sorter .active {
    padding: 5px 0;
}

.sorter span a {
    padding: 5px 0;
}

.myNonogramList a:hover {
    background-color: #d6bf9c;
    cursor: pointer;
}

.myNonogramList a {
    height: fit-content;
    padding: 5px 0;
    vertical-align: middle;
    width: 100%;
    text-decoration: none;
    transition: 0.7s;
    display: inline-block;
}
.myNonogramList div {
    margin: 0;
    width: 50%;
    float: left;
    text-align: center;
    outline: 1px rgb(117, 117, 117) dotted;
}

.myNonogramList {
    width: 100%;
    min-width: 100px;
    margin: 50px auto;
    overflow: auto;
    border: 3px black double;
    border-radius: 10px;
}

.nonogramList a:hover {
    background-color: #d6bf9c;
    cursor: pointer;
}

.nonogramList a {
    height: fit-content;
    padding: 5px 0;
    vertical-align: middle;
    width: 100%;
    text-decoration: none;
    transition: 0.7s;
    display: inline-block;
}
.nonogramList div {
    margin: 0;
    width: 25%;
    float: left;
    text-align: center;
    outline: 1px rgb(117, 117, 117) dotted;
}

.nonogramList {
    width: 100%;
    min-width: 500px;
    margin-bottom: 20px;
    overflow: auto;
    border: 3px black double;
    border-radius: 10px;
}

.sorter a:hover {
    background-color: #d6bf9c;
    cursor: pointer;
}

.sorter a {
    height: 20px;
    padding: 0;
    vertical-align: middle;
    width: 100%;
    text-decoration: none;
    transition: 0.7s;
    display: inline-block;
}
.sorter span {
    margin: 0;
    width: 50%;
    float: left;
    text-align: center;
    outline: 1px rgb(117, 117, 117) dotted;
}

.sorter {
    width: 20%;
    min-width: 200px;
    margin: 10px auto 10px 0;
    overflow: auto;
    border: 1px black solid;
    border-radius: 10px;
}

body {
    background-image: url('pics/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: 300;
    width: 54%;
    padding: 0px 23% 0px 23%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    color: #888;
}

.content-wrap {
    padding-bottom: 5rem;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid;
}

td {
    height: 30px;
    min-width: 30px;
    border: 1px solid black;
    padding: 0px;
    background-color: #efeae2;
}

table button {
    width: 30px;
    height: 30px;
    border: 1px;
    margin: 0;
    background-color: #efeae2;
    cursor: crosshair;
}

table button:hover {
    background-color: #c9b4a0;
}
.clicked1 {
    background-image: url('pics/black.png');
    background-size: 30px;
}
.clicked2 {
    background-image: url('pics/blue.png');
    background-size: 30px;
}
.clicked3 {
    background-image: url('pics/red.png');
    background-size: 30px;
}
.clicked4 {
    background-image: url('pics/green.png');
    background-size: 30px;
}
.clicked5 {
    background-image: url('pics/yellow.png');
    background-size: 30px;
}
.clicked6 {
    background-image: url('pics/orange.png');
    background-size: 30px;
}
.clicked7 {
    background-image: url('pics/purple.png');
    background-size: 30px;
}
.clicked8 {
    background-image: url('pics/grey.png');
    background-size: 30px;
}
.clicked9 {
    background-image: url('pics/teal.png');
    background-size: 30px;
}

.tenthwidth {
    width: 10%;
    text-align: center;
    float: left;
}

.color1 {
    font-weight: 450;
    color: black;
}
.color2 {
    font-weight: 900;
    color: blue;
}
.color3 {
    font-weight: 900;
    color: red;
}
.color4 {
    font-weight: 900;
    color: green;
}
.color5 {
    font-weight: 900;
    color: yellow;
}
.color6 {
    font-weight: 900;
    color: orange;
}
.color7 {
    font-weight: 900;
    color: purple;
}
.color8 {
    font-weight: 900;
    color: grey;
}
.color9 {
    font-weight: 900;
    color: teal;
}

/*   upper numbers   */
.column5 {
    border-left: 2px solid black;
}

/*   every 5th rows' borders will be thicker   */
.row5 {
    border-top: 2px solid black;
}

.nonogramDefinition {
    background: transparent;
    text-align: center;
    vertical-align: center;
    cursor: default;
}
.nonogramDefinitionNumber {
    background: transparent;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}

.crossed {
    background-image: url('pics/cross.png');
    background-size: 30px;
}

.center {
    margin: auto;
    text-align: center;
}

.colorPicker {
    width: fit-content;
    height: fit-content;
    margin: 15px auto auto auto;
    padding: 5px 0 0 0;
    border: 3px #876 double;
    border-radius: 15px;
}
.colorPicker button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 5px;
    border: 0;
    border-radius: 10px;
    transition: 0.4s;
}

.colorPicker button img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    transition: 0.3s;
}

.colorPicker button:hover {
    background-color: blanchedalmond;
    opacity: 0.7;
    cursor: pointer;
}
.picked img {
    box-shadow: 0 0 10px, 0 0 10px;
}

p {
    display: inline-block;
    margin: auto;
}

.profile {
    margin: auto;
    width: 30%;
}

.profile input {
    width: 100%;
    min-width: 200px;
    background-color: rgb(236, 235, 233);
    height: 35px;
    font-size: 22px;
    border: 0px;
}

.profile button {
    height: 35px;
    width: 100%;
    min-width: 100px;
    margin-top: 15px;
    border: 2px rgb(195, 187, 147) solid;
    background-color: rgb(195, 187, 147);
    transition: 1s;
    font-size: 20px;
    cursor: pointer;
}

.profile button:hover {
    border: 2px rgb(195, 187, 147) solid;
    background-color: rgb(235, 225, 178);
}

.changeOption {
    font-size: 15px;
    text-align: center;
    width: 40%;
    min-width: 96px;
    margin: auto;
    background-color: rgb(238, 232, 232);
    border: 2px rgb(238, 232, 232) solid;
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    padding: 6px 0;
    transition: 1s;
}

.changeOption:hover {
    font-size: 20px;
    padding: 15px 0;
    border-color: 2px rgb(238, 232, 232) solid;
    border-top: 0px;
    background-color: rgb(221, 214, 184);
}

.createContainer {
    margin: 0 auto 20px auto;
    width: 50%;
    text-align: center;
    display: inline;
}

.inputContainer {
    float: left;
    width: 45%;
    outline: 0px black solid;
    text-align: right;
}

.boxes {
    width: 25px;
    background-color: rgb(236, 235, 233);
    height: 20px;
    font-size: 18px;
    border: 0px black solid;
    outline: 0;
    text-align: right;
}

.genCompButton {
    height: 44px;
    width: 20%;
    min-width: fit-content;
    margin-right: auto;
    border: 2px rgb(195, 187, 147) solid;
    background-color: rgb(195, 187, 147);
    transition: 1s;
    font-size: 18px;
    cursor: pointer;
}

.genCompButton:hover {
    border: 2px rgb(195, 187, 147) solid;
    background-color: rgb(235, 225, 178);
}

.defaultButton {
    height: 44px;
    width: 20%;
    min-width: fit-content;
    margin-left: 40%;
    border: 2px rgb(195, 187, 147) solid;
    background-color: rgb(195, 187, 147);
    transition: 1s;
    font-size: 18px;
    cursor: pointer;
}
.defaultButton:hover {
    border: 2px rgb(195, 187, 147) solid;
    background-color: rgb(235, 225, 178);
}

#activeAnnouncement {
    margin: 20px 0;
}

.errorMsg {
    width: 100%;
    font-size: 12px;
    color: rgb(172, 40, 40);
}

@keyframes show {
    0% {
        left: 0px;
        top: 20px;
        opacity: 0;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}
.showSite {
    position: relative;
    animation-name: show;
    animation-duration: 0.8s;
}

@keyframes fi {
    0% {
        opacity: 0;
    }
}

.fadeIn {
    animation-name: fi;
    animation-duration: 0.8s;
}

.notClickable {
    cursor: default;
}

.aboutNonograms div {
    margin: 15px auto;
    width: 80%;
}
.aboutNonograms img {
    margin: 10px 30%;
    width: 40%;
}

@media all and (max-width: 700px) {
    body {
        width: 90vw;
        padding: 0;
        margin-left: 10px;
    }

    h1 {
        font-size: 10vw;
        text-align: center;
    }
    .menubar_mobile {
        display: inline-block;
        margin: 0 10%;
        width: 80%;
        min-width: 230px;
        font-size: 18px;
        overflow: auto;
        padding: 0;
        text-align: center;
        font-weight: 300;
        border: double #876;
        border-radius: 15px;
    }
    .menubar_mobile a {
        min-width: 40px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        width: 20%;
        padding: 10px 0;
        text-decoration: none;
        text-align: center;
        transition: 0.7s;
    }
    .menubar_mobile li {
        margin: 0;
        width: 20%;
        display: inline;
    }
    .menubar {
        display: none;
    }
    .nonogramList div {
        height: 130px;
        margin: 0;
        width: 33.33%;
        float: left;
        text-align: center;
        outline: 1px rgb(117, 117, 117) dotted;
    }

    .nonogramList {
        min-width: 300px;
        margin: 50px auto;
        overflow: auto;
        border: 3px black double;
        border-radius: 10px;
    }
    .profile {
        width: 80%;
    }

    .createContainer {
        margin: 0 auto 20px auto;
        width: 90%;
        text-align: center;
        display: inline;
    }

    .inputContainer {
        float: left;
        width: 40%;
        min-width: 80px;
        margin-left: auto;
        outline: 0px black solid;
        text-align: right;
    }

    .boxes {
        width: 25px;
        background-color: rgb(236, 235, 233);
        height: 20px;
        font-size: 18px;
        border: 0px black solid;
        outline: 0;
        text-align: right;
    }

    .genCompButton {
        height: 44px;
        width: 20%;
        min-width: fit-content;
        border: 2px rgb(195, 187, 147) solid;
        background-color: rgb(195, 187, 147);
        transition: 1s;
        font-size: 18px;
        cursor: pointer;
        margin-right: 0;
    }

    .genCompButton:hover {
        border: 2px rgb(195, 187, 147) solid;
        background-color: rgb(235, 225, 178);
    }
}

@media all and (min-width: 1600px) {
    aside {
        position: fixed;
        left: 10%;
        text-align: right;
    }
}

@media all and (max-width: 1599px) {
    aside .range {
        width: 30%;
        float: left;
    }
    aside .range input {
        width: 90%;
    }
    aside .sortContainer {
        margin-left: 5%;
        width: 25%;
        float: left;
    }
    aside .sorter {
        margin: 5px;
        min-width: 190px;
    }
    aside .filterContainer {
        width: 35%;
        float: left;
        text-align: right;
        margin-left: 5%;
    }
    #activeAnnouncement {
        width: fit-content;
    }
    .tenthwidth {
        width: 20%;
    }
}

.colors {
    margin-bottom: 30px;
}
@media all and (max-width: 600px) {
    aside .filterContainer {
        width: 100%;
    }
}

#flag {
    float: right;
}
