h1 {
    font-weight: 100;
    font-size: 70px;
    text-align: center;
    margin: 0 0 20px 0;
}

h2 {
    font-weight: 200;
    font-size: 30;
    text-align: center;
    margin: 0 0 20px 0;
}
ul {
    width: 60%;
    margin: 0 20% 30px 20%;
    font-size: 18px;
    overflow: auto;
    padding: 0;
    text-align: center;
    font-weight: 300;
    border: double #876;
    border-radius: 15px;
}

.menubar a {
    width: 100%;
    padding: 16px 0 16px 0;
    text-decoration: none;
    text-align: center;
    display: block;
}

.menubar li {
    width: 33.33%;
    display: inline-block;
}

li a:hover {
    background-color: #dfc9a7;
    opacity: 100%;
}

a.active {
    background-color: #efd9b7;
    opacity: 80%;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-image: url('pics/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: 300;
}

div {
    padding: 10px 23% 42px 23%;
    width: 54%;
}

h1 a:hover {
    text-shadow: 1px 1px #986;
}

footer {
    text-align: center;
    color: #888;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid;
}

td {
    height: 30px;
    width: 30px;
    border: thin solid black;
    padding: 0;
    background-color: #efeae2;
}

button {
    width: 30px;
    height: 30px;
    border: 0;
    background-color: #efeae2;
}

button:hover {
    background-color: #cfcac2;
}

.clicked {
    background-color: #000;
}

.column5 {
    border-left: 2px solid;
}

.row5 {
    border-top: 2px solid;
}

.columndefinition {
    background: transparent;
}

.rowdefinition {
    background: transparent;
}

.topLeftCell {
    background: transparent;
    border: 2px solid;
}

caption {
    font-weight: 200;
    font-size: 30px;
    margin: 20px;
}

form {
    margin: auto;
    text-align: center;
}
input {
    background: transparent;
    width: 35px;
}
