h1 {
    font-weight: 100;
    font-size: 70px;
    text-align: center;
    margin: 0 0 20px 0;
}

h1 a {
    transition: 0.3s;
}

h1 a:hover {
    text-shadow: 1px 1px #986;
    cursor: pointer;
}

h2 {
    font-weight: 200;
    font-size: 30;
    text-align: center;
    margin: 0 0 20px 0;
}
.menubar {
    width: 80%;
    margin: 0 10% 30px 10%;
    font-size: 18px;
    overflow: auto;
    padding: 0;
    text-align: center;
    font-weight: 300;
    border: double #876;
    border-radius: 15px;
}

.menubar a {
    height: 100%;
    vertical-align: middle;
    width: 25%;
    padding: 10px 0 10px 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: 0.7s;
}

.menubar li {
    margin: 0;
    width: 25%;
    display: inline;
}

li a:hover {
    background-color: #d6bf9c;
    cursor: pointer;
}

a.active {
    background: radial-gradient(circle at top, #d8bc92, transparent);
}

.nonogramList a:hover {
    background-color: #d6bf9c;
    cursor: pointer;
}

.nonogramList a {
    padding: 20px 0;
    vertical-align: middle;
    width: 100%;
    text-decoration: none;
    transition: 0.7s;
    display: inline-block;
}
.nonogramList div {
    margin: 0;
    width: 25%;
    float: left;
    text-align: center;
    outline: 1px rgb(117, 117, 117) dotted;
}

.nonogramList {
    margin-bottom: 50px;
    overflow: auto;
    border: 3px black double;
    border-radius: 10px;
}

body {
    background-image: url('pics/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: 300;
    width: 54%;
    padding: 10px 23% 42px 23%;
}

footer {
    text-align: center;
    color: #888;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid;
}

td {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    padding: 0px;
    background-color: #efeae2;
}

table button {
    width: 30px;
    height: 30px;
    border: 1px;
    margin: 0;
    background-color: #efeae2;
}

table button:hover {
    background-color: #c9b4a0;
}
.clicked1 {
    background-image: url('pics/black.png');
    background-size: 30px;
}
.clicked2 {
    background-image: url('pics/blue.png');
    background-size: 30px;
}
.clicked3 {
    background-image: url('pics/red.png');
    background-size: 30px;
}
.clicked4 {
    background-image: url('pics/green.png');
    background-size: 30px;
}
.clicked5 {
    background-image: url('pics/yellow.png');
    background-size: 30px;
}
.clicked6 {
    background-image: url('pics/orange.png');
    background-size: 30px;
}
.clicked7 {
    background-image: url('pics/purple.png');
    background-size: 30px;
}
.clicked8 {
    background-image: url('pics/pink.png');
    background-size: 30px;
}
.clicked9 {
    background-image: url('pics/teal.png');
    background-size: 30px;
}
.clicked10 {
    background-image: url('pics/brown.png');
    background-size: 30px;
}

.color1 {
    font-weight: 450;
    color: black;
}
.color2 {
    font-weight: 900;
    color: blue;
}
.color3 {
    font-weight: 900;
    color: red;
}
.color4 {
    font-weight: 900;
    color: green;
}
.color5 {
    font-weight: 900;
    color: yellow;
}
.color6 {
    font-weight: 900;
    color: orange;
}
.color7 {
    font-weight: 900;
    color: purple;
}
.color8 {
    font-weight: 900;
    color: grey;
}
.color9 {
    font-weight: 900;
    color: teal;
}

/*   upper numbers   */
.column5 {
    border-left: 2px solid black;
}

/*   every 5th rows' borders will be thicker   */
.row5 {
    border-top: 2px solid black;
}

.nonogramDefinition {
    background: transparent;
    text-align: center;
    vertical-align: center;
}

.crossed {
    background-image: url('pics/cross.png');
    background-size: 30px;
}

.center {
    margin: auto;
    text-align: center;
}

.boxes {
    width: 30px;
}

.colorPicker {
    min-width: 150px;
    width: 20%;
    margin: auto;
    background-color: burlywood;
}
p {
    display: inline-block;
    margin: auto;
}

.profile {
    margin: auto;
    width: 30%;
}

.profile input {
    width: 100%;
    background-color: rgb(236, 235, 233);
    height: 35px;
    font-size: 22px;
    border: 0px;
}

.profile button {
    height: 35px;
    width: 100%;
    margin-top: 15px;
    border: 2px rgb(195, 187, 147) solid;
    background-color: rgb(195, 187, 147);
    transition: 1s;
    font-size: 20px;
    cursor: pointer;
}

.profile button:hover {
    border: 2px rgb(195, 187, 147) solid;
    background-color: rgb(235, 225, 178);
}

.changeOption {
    font-size: 15px;
    text-align: center;
    width: 40%;
    margin: auto;
    background-color: rgb(238, 232, 232);
    border: 2px rgb(238, 232, 232) solid;
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    padding: 6px 0;
    transition: 1s;
}

.changeOption:hover {
    padding: 10px 0;
    border-color: 2px rgb(238, 232, 232) solid;
    border-top: 0px;
    background-color: rgb(221, 214, 184);
}

#activeAnnouncement {
    margin: 20px 0;
}

.errorMsg {
    width: 100%;
    font-size: 12px;
    color: rgb(172, 40, 40);
}
